/node_modules
/.highstandards/accepted
/home/olorenz/documents/code/high-standards-js/github-action-release-node/home/olorenz/documents/code/high-standards-js/github-action-release-node/.highstandards/accepted
/home/olorenz/documents/code/high-standards-js/github-action-release-semantic-release/home/olorenz/documents/code/high-standards-js/github-action-release-semantic-release/.highstandards/accepted
